<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28743262873-33ou4406t071u9pcrhvrpvd6mb5f0bcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28743262873-33ou4406t071u9pcrhvrpvd6mb5f0bcj</string>
	<key>API_KEY</key>
	<string>AIzaSyAOb8GNYu5I7dh_7FX-VX7WxVoVzN795wA</string>
	<key>GCM_SENDER_ID</key>
	<string>28743262873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.asluisinfo.University-Pal</string>
	<key>PROJECT_ID</key>
	<string>university-pal</string>
	<key>STORAGE_BUCKET</key>
	<string>university-pal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28743262873:ios:a29db29cdac034f9348e08</string>
	<key>DATABASE_URL</key>
	<string>https://university-pal-default-rtdb.firebaseio.com</string>
</dict>
</plist>